<div class="container">

  <div *ngIf="showStatus" class="mt-5">
    No workforce added for project.<br>
    <a class="btn btn-outline-danger mr-3 mt-2" routerLink="/scheduling/">Add Task</a>
    <a class="btn btn-danger mt-2" routerLink="/home">Go Back</a>
  </div>
  <div *ngIf="!showStatus" class="container">
    <h1 class="mt-5 pb-3 text-center">Scheduled Tasks</h1>
    <div class="form-floating mb-2">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Projects</label>
        </div>
        <select class='select-option custom-select dropdown' #mySelect (change)='getProjectTask(mySelect.value)'>
          <option value="none" selected disabled hidden>Select an Option</option>
          <option *ngFor="let project of projects" [value]="project.id">
            {{project.ProjectName}}</option>
        </select>
      </div>
    </div>

    <table class="table table-bordered table-striped pb-3">
      <thead>
        <tr>
          <th>Task</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Notification Date</th>
          <th>Resource</th>
          <th>Equipment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of scheduledTasks">

          <td data-toggle="modal" (click)="editTask(scheduledTasks)" data-target="#exampleModalCenter">{{
            task.TaskName }}</td>
          <td (click)="editTask(task)">{{ task.StartDate }}</td>
          <td (click)="editTask(task)">{{task.EndDate}}</td>
          <td (click)="editTask(task)">{{task.NotDate}}</td>

          <td><button type="button" data-target="#resourceModel" data-toggle="modal" (click)="onResouceAdd(task.id)"
              class="btn btn-danger btn-sm">Add Manpower</button>
            <button type="button" data-target="#viewResource" data-toggle="modal" (click)="viewResource(task.id)"
              class="btn btn-danger btn-sm ml-2">View</button>
          <td><button type="button" data-target="#equipmentModel" data-toggle="modal"
              class="btn btn-outline-danger btn-sm">Add</button>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="resourceModel" tabindex="-1" role="dialog" aria-labelledby="resourceModel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resouceModelTitle">Add Manpower</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addResourceForm" class="pd-3">
          <div class="row mx-1">
            <label for="name" class="text-black-50">Name</label>
            <input id="name" formControlName="name" type="text" name="name"
              class="form-control shadow-none border-danger" autofocus placeholder="Name">
            <label for="quantity" class="mt-3 text-black-50">Quantity</label>
            <input id="quantity" formControlName="quantity" type="text" name="quantity"
              class="form-control shadow-none border-danger" placeholder="Quantity">
          </div>
          <div class="row">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-danger" data-dismiss="modal" type="submit" name="submit"> Save
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="equipmentModel" tabindex="-1" role="dialog" aria-labelledby="equipmentModel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resouceModelTitle">Withdraw Material</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-danger" data-dismiss="modal" type="submit" name="submit"> Withdraw
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewResource" tabindex="-1" role="dialog" aria-labelledby="viewResource" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resouceModelTitle">Resources</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped pb-3">
          <thead>
            <tr>
              <th>Name</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let resource of resourceData">
              <td>{{ resource.name }}</td>
              <td>{{resource.quantity}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <table></table>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>