<div *ngIf="showStatus" class="mt-5 text-center">
  No vendor Listed, please add one.<br>
  <a class="btn btn-primary mr-3 mt-2" routerLink="/add-edit-vendor/">Add Vendor</a>
  <a class="btn btn-primary mt-2" routerLink="/home">Go Back</a>
</div>
<div *ngIf="!showStatus" class="container">
  <h1 class="mt-5 pb-3 text-center">Listed Employee</h1>
  <table class="table table-striped pb-3">
    <thead>
      <tr>
        <th>Employee</th>
        <th>Mobile</th>
        <th>City</th>
        <th>Work</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of employee">
        <td (click)="editVendor(project.id)">{{ project.empName }}</td>
        <td (click)="editVendor(project.id)">{{ project.mobile }}</td>
        <td (click)="editVendor(project.id)">{{project.city}}</td>
        <td (click)="editVendor(project.id)">{{ project.workType }}</td>
        <td><button type="button" class="btn btn-danger" (click)="removeVendor(project.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <a class="btn btn-primary" routerLink="/home">Back</a>
  </div>
</div>