<div class="container">

  <div *ngIf="showStatus" class="mt-5">
    No workforce added for project.<br>
    <a class="btn btn-outline-danger mr-3 mt-2" routerLink="/add-edit-workforce/">Add Workforce</a>
    <a class="btn btn-danger mt-2" routerLink="/home">Go Back</a>
  </div>
  <div *ngIf="!showStatus" class="container">
    <h1 class="mt-5 pb-3 text-center">Working Employee</h1>
    <table class="table table-striped pb-3">
      <thead>
        <tr>
          <th>Employee</th>
          <th>Payment</th>
          <th>Project</th>
          <th>Present Day</th>
          <th>Absent Day</th>
          <th>Total Payout</th>
          <th>paid</th>
          <th>Remaining</th>
          <th>Attendance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of workforce">
          <td data-toggle="modal" (click)="editVendor(emp)" data-target="#exampleModalCenter">{{ emp.empName }}</td>
          <td (click)="editVendor(emp)">{{ emp.payment }}</td>
          <td (click)="editVendor(emp)">{{emp.projectName}}</td>
          <td (click)="editVendor(emp)">{{emp.presentDay}}</td>
          <td (click)="editVendor(emp)">{{emp.absentDay}}</td>
          <td (click)="editVendor(emp)">{{emp.totalPay}}</td>
          <td (click)="editVendor(emp)">{{emp.paid}}</td>
          <td (click)="editVendor(emp)">{{emp.Remaining}}</td>
          <td><button type="button" class="btn btn-primary" (click)="markPresent(emp)">Present</button>
          <td><button type="button" class="btn btn-secondary" (click)="markAbsent(emp)">Absent</button>
          <td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#pay" (click)="pay(emp)">Pay</button>
          <td><button type="button" class="btn btn-danger" (click)="removeVendor(emp.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a class="btn btn-primary" routerLink="/home">Back</a>
    </div>
  </div>
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal titl</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section class="container information-processing-form rounded-2">
            <div class=" mt-4 row d-flex align-items-center">
  
              <div class="col">
                <form [formGroup]="addWorkForceForm" class="pd-3">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-floating mb-3">
                        <label for="empName" class="text-black-50">Employee Name</label>
                        <input id="empName" formControlName="empName" type="text" name="empName"
                          class="form-control shadow-none border-danger" placeholder="..." readonly>
  
                      </div>
                    </div>
  
                    <div class="col-sm-4">
                      <div class="form-floating mb-2">
                        <label for="projectName" class="text-black-50">Project Name</label>
                        <input id="projectName" formControlName="projectName" type="text" name="projectName"
                          class="form-control shadow-none border-danger" placeholder="..." readonly>
  
                      </div>
                    </div>
  
                    <div class="col-sm-4">
                      <div class="form-floating mb-3">
                        <label for="payment" class="text-black-50">payment</label>
                        <input id="payment" formControlName="payment" type="text" name="payment"
                          class="form-control shadow-none border-danger" placeholder="...">
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-floating mb-2">
                        <label for="totalPay" class="text-black-50">total Pay</label>
                        <input id="totalPay" formControlName="totalPay" type="text" name="totalPay"
                          class="form-control shadow-none border-danger" placeholder="..." readonly>
  
                      </div>
                    </div>
  
                    <div class="col-sm-4">
                      <div class="form-floating mb-2">
                        <label for="absentDay" class="text-black-50">absent Day</label>
                        <input id="absentDay" formControlName="absentDay" type="text" name="absentDay"
                          class="form-control shadow-none border-danger" placeholder="...">
  
                      </div>
                    </div>
  
                    <div class="col-sm-4">
                      <div class="form-floating mb-2">
                        <label for="presentDay" class="text-black-50">Present Day</label>
                        <input id="presentDay" formControlName="presentDay" type="text" name="presentDay"
                          class="form-control shadow-none border-danger" placeholder="...">
                      </div>
                    </div>
                  </div>
  
                  <button [disabled]="addWorkForceForm.invalid" class="btn btn-danger w-100 mb-2" type="submit"
                    name="submit" data-dismiss="modal" (click)="submit()"> Edit WorkForce
                  </button>
                </form>
              </div>
            </div>
          </section>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="pay" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Pay</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section class="container information-processing-form rounded-2">
            <div class=" mt-4 row d-flex align-items-center">
  
              <div class="col">
                <form [formGroup]="addWorkForceForm" class="pd-3">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-floating mb-3">
                        <label for="paid" class="text-black-50">Paid</label>
                        <input id="paid" formControlName="paid" type="number" name="paid"
                          class="form-control shadow-none border-danger" placeholder="..." >
  
                      </div>
                      </div>
  
                      <div class="col-sm-4">
                        <div class="form-floating mb-3">
                          <label for="Remaining" class="text-black-50">Remaining</label>
                          <input id="Remaining" formControlName="Remaining" type="number" name="Remaining"
                            class="form-control shadow-none border-danger" placeholder="..." readonly> 
                        </div>
                      </div>
                    </div>
  
                  <button [disabled]="addWorkForceForm.invalid" class="btn btn-danger w-100 mb-2" type="submit"
                    name="submit" data-dismiss="modal" (click)="paySubmit()"> Pay 
                  </button>
                </form>
              </div>
            </div>
          </section>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

