<div class="container">
  <div *ngIf="showStatus" class="mt-5">
    No Client Listed, Please Add One.<br>
    <a class="btn btn-outline-danger mr-3 mt-3" routerLink="/add-edit-client/">Add Client</a>
    <a class="btn btn-danger mt-3" routerLink="/home">Go Back</a>
  </div>
  <div *ngIf="!showStatus" class="container">
    <h1 class="mt-5 pb-3 text-center">Client Details</h1>
    <table class="table table-bordered table-striped pb-3">
      <thead>
        <tr>
          <th>Client</th>
          <th>Address</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of vendors">
          <td (click)="editVendor(project.id)">{{ project.VendorName }}</td>
          <td (click)="editVendor(project.id)">{{ project.Address }}</td>
          <td (click)="editVendor(project.id)">{{project.VendorNumber}}</td>
          <td (click)="editVendor(project.id)">{{ project.Email }}</td>
          <td><button type="button" class="btn btn-danger" (click)="removeVendor(project.id)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="">
      <a class="btn btn-outline-danger mr-2" routerLink="/add-edit-client">Add New Client</a>
      <a class="btn btn-danger" routerLink="/home">Go To Home</a>
    </div>
  </div>
</div>