<h1 class="text-center mt-5">
    {{ editMode ? "Edit WorkForce" : "Add New WorkForce" }}
</h1>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<section class="container information-processing-form rounded-2">
    <div class=" mt-4 row d-flex align-items-center">

        <div class="col">
            <form [formGroup]="addWorkForceForm" (ngSubmit)="submit()" class="pd-3">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-floating mb-3">
                            <label for="empId" class="text-black-50">Employee Name</label>
                           
                            <select
                                class="form-control form-select dx-theme-border-color-as-background-color dx-theme-text-color"
                                type="number" id="empId" name="empId" formControlName="empId" >

                                <option *ngFor="let emp of employees" [value]="emp.id">
                                    {{emp.empName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-floating mb-2">
                            <label for="ProjectId" class="text-black-50">Project Name</label>
                            <select
                                class="form-control form-select dx-theme-border-color-as-background-color dx-theme-text-color"
                                type="text" id="ProjectId" name="ProjectId" formControlName="ProjectId" > 

                                <option *ngFor="let project of projects" [value]="project.id" >
                                    {{project.ProjectName}}</option>
                            </select>
                            <div *ngIf="f['ProjectId'].touched && f['ProjectId'].invalid && f['ProjectId'].errors "
                                class="text-danger">
                                <span *ngIf=" f['ProjectId'].errors['required']">project Name is
                                    required.</span>
                            </div>
                        </div>
                    </div>

                    
                </div>
                 
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-floating mb-3">
                            <label for="payment" class="text-black-50">payment per shift</label>
                            <input id="payment" formControlName="payment" type="number" name="payment"
                                class="form-control shadow-none border-danger" placeholder="...">
                        </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-floating mb-2">
                        <label for="startDate" class="text-black-50">Work start Date</label>
                        <input id="startDate" formControlName="startDate" type="date" name="startDate"
                          class="form-control shadow-none border-danger" placeholder="...">
  
                      </div>
                    </div>
  
                  </div>

                <button [disabled]="addWorkForceForm.invalid" class="btn btn-primary w-100 mb-2" type="submit"
                    name="submit"> {{ editMode ? "Edit WorkForce" : "Add New WorkForce" }}
                </button>
            </form>
        </div>
    </div>
</section>